@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain min-h-screen antialiased selection:bg-brand selection:text-background;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2A2D35;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f434f;
}
